In [9]:
import psycopg2

conn = psycopg2.connect(
    dbname="beta_base_db",
    user="psqlsynthadmin",
    password="PSQL$ynth#2024",
    host="base-report-synth-postgredb.cb6ae20mupdy.ap-south-1.rds.amazonaws.com",
    port="5432"
)

In [10]:
import pandas as pd
df = pd.read_sql("SELECT datname FROM pg_database WHERE datistemplate = false;", conn)
df

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19512\1875049075.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT datname FROM pg_database WHERE datistemplate = false;", conn)

                  datname
0                postgres
1                login_db
2        report_server_db
3                 base_db
4              library_db
5   beta_report_server_db
6            beta_base_db
7           beta_login_db
8         beta_library_db
9                rdsadmin
10                 r&d_db
11     leadershipinsights

In [11]:
cur = conn.cursor()
cur.execute("""
    SELECT table_name 
    FROM information_schema.tables 
    WHERE table_schema = 'public';
""")
tables = cur.fetchall()

print("Tables:")
for table in tables:
    print(f"- {table[0]}")

cur.close()
conn.close()

Tables:
- trn_comp_copo
- weekly_time_table
- user_inputs
- app_version
- class_room_master
- choices
- class_teacher_master
- categories
- course_outcome
- form_questions
- generic_master
- feedback_form
- lesson_master
- mst_academic_year
- mst_admission-year
- programme_outcome
- mst_course
- mst_subject
- mst_programme
- online_courses
- mst_student_registration
- time_slot
- time_slot_master
- public_holiday_master
- responses
- subject_teacher_master
- generic_master_data
- exam_paper_map_co
- programme_sub_outcome
- co_po_mapping
- course_outcome_wise_percentage
- mst_curriculum_year
- weekly_off_master
- co_po_subject_wise_avg
- subject_master
- question_paper_set
- subject_faculty
- chapter_master

In [13]:
import psycopg2

conn = psycopg2.connect(
    dbname="beta_base_db",
    user="psqlsynthadmin",
    password="PSQL$ynth#2024",
    host="base-report-synth-postgredb.cb6ae20mupdy.ap-south-1.rds.amazonaws.com",
    port="5432"
)
# Step 1: Get master_id for 'subject'
query_subject_id = """
    SELECT id FROM public.generic_master WHERE name = 'Subject';
"""
subject_master_id = pd.read_sql(query_subject_id, conn).iloc[0]['id']

# Step 2: Get all subject values
query_subjects = f"""
    SELECT id, name 
    FROM public.generic_master_data 
    WHERE master_id = {subject_master_id};
"""
subjects_df = pd.read_sql(query_subjects, conn)
subjects_df

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19512\183319698.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  subject_master_id = pd.read_sql(query_subject_id, conn).iloc[0]['id']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19512\183319698.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  subjects_df = pd.read_sql(query_subjects, conn)

     id                                    name
0     7                           Mathematics-I
1    36                 ENGINEERING PHYSICS - I
2    47                   Engineering Chemistry
3    67  Data Communication & Computer Networks
4    60               Physics Chemistry Lab - I
5    77                                  Math-1
6    78           Advanced Programming Concepts
7    88          data structures and algorithms
8   101                      Physics Laboratory
9   118             Object Oriented Programming
10  125                             Civil-Math1
11  133              Basics of Computer Network
12  148                                   Maths
13  156                         Control Systems
14  161                    Environment Science
15  168              Database Management System
16  170        Engineering Graphics and Design
17  185                        Material Science
18  188                                 History
19  200             Chemical Process Principles
20  201                                 Angular
21  207        Industrial Management and Safety
22  220                                 Angular
23  221                                   Ionic
24  223                                 Biology
25  224                                    Chem
26  225                             Environment
27  226                         Social Science
28  227                               Physics I
29  222                     Updated Mathematics
30  235                                 Angular
31  236                                 Lavaras
32  237                                 Grammer
33  238                                 Grammer
34  242                                  Hindi
35  243                                  French
36  244                                 Jermany
37  245                                     Vue
38  246                                ChatBoot
39  247              Electronic Circuits-204181
40  251  22426-Microcontroller and Applications
41  257               Pharmaceutical analysis-I
42  261                         Pharmaceutics I
43  265      Pharmaceutical Inorganic Chemistry
44  269      Pharmaceutical Organic Chemistry I
45  277                                 English

In [1]:
subject_df.head()

NameError: name 'subject_df' is not defined